*

        .topnav a {
            float: left;
            color: #d31313;
            text-align: center;
            padding: 16px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
            background-color: #4CAF50;
            color: rgb(54, 54, 54);
          }
          .logo{
            block-size: 10%
          }
           body{
             background-color: rgb(143, 119, 11);
             margin: 30px;
             box-sizing:border-box !important;
           }
           header,
            section,
            aside,
            footer {
            margin: 0 1.5% 24px 1.5%;
            } 
           